

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-control {
    width: 100%;
}

body {
    background-color: rgb(148, 158, 150); /* Change this to your desired color */
}
   
   
.hero-section {
    height: 50vh;
    background: url('/static/webapp/images/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional overlay for better text contrast */
}

.hero-section .container {
    position: relative;
    z-index: 1;
}